*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CDE7B0;
    text-align: center;
}
h1{
    margin-top: 3%;
   font-size: 1.5rem; 
}

.Main{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.first{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.Box{
    height: 18vmin;
    width: 18vmin;
    font-size: 6rem;
    border-radius: 1pc;
    box-shadow: 0 0 1rem black;
    border: none;
    color: red;
    background-color: aliceblue;
}

#submit{
    height: 50px;
    width: 15%;
    font-size: 1.5rem;
    background-color: #59594A;
    border-radius: 10px;
    color: snow;
}

#msg{
    margin-top: 10px;
    font-size: 3.5rem;
    color: rgb(170, 22, 22);
    font-style: italic;
}

#newgame{
    height: 50px;
    width: 15%;
    font-size: 1.5rem;
    background-color: #59594A;
    border-radius: 10px;
    color: snow;
}